html{
    box-sizing: border-box;
}

*, *::after, *::before{
    box-sizing: inherit;
}

body{
    margin: 0;
    padding: 0;
}

.first-image{
    background-image: url(img/image1.jpg);
    min-height: 500px;
    opacity: 0.8;
}

.second-image{
    background-image: url(img/image2.jpg);
    min-height: 500px;
}

.third-image{
    background-image: url(img/image3.jpeg);
    min-height: 500px;
}

.fourth-image{
    background-image: url(img/image4.jpeg);
    min-height: 500px;
    opacity: 0.8;
}


.first-image, .second-image, .third-image, .fourth-image{
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

section{
    text-align: center;
    padding: 3rem 3rem;
}

.section-light {
    background-color: #f4f4f4;
    color: #0f0f0f;
}

.section-dark {
    background-color: #282e34;
    color: #ddd;
}

.image {
    /* display: flex;
    justify-content: center;
    align-items: center; */

    position: relative;
}

.image div{
    position: absolute;
    top: 50%;
    /* left: 50%; */
    width: 100%;
    text-align: center;
    color: white;
    font-size: 2rem;
    letter-spacing: 8px;
    text-transform: uppercase;
}

.image div span{
    color: white;
    background-color: #111;
    padding: 20px;
}

